﻿@model WebPriceViewModel
@{
    ViewData["Title"] = L("TitleWebSite");
    ViewData["Description"] = L("DescrWebSite");
    ViewData["KeyWords"] = L("KeywordsWebSite");
}

<div class="notmaincontainer">
    <div class="row">
        <div class="col-12">
            <div class="substrate">
                <div class="body p-2 p-sm-3 p-md-4 p-lg-4 p-xl-4">
                    <div class=row>
                        <div class="col-12">
                            <h2>@L("WebSiteContentTitle")</h2>
                            <p>@L("WebSiteContentP0")</p>
                            <p>@L("WebSiteContentP1")</p>
                            <h3>@L("WebSiteContentBodyTitle")</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <tbody class="up">
                                        <tr class="active">
                                            <th>@L("WebSiteContentBodyTableCol1")</th>
                                            <th>@L("WebSiteContentBodyTableCol2")</th>
                                            <th>@L("WebSiteContentBodyTableCol3")</th>
                                            <th>@L("WebSiteContentBodyTableCol4")</th>
                                        </tr>
                                        @foreach (var price in Model.Price)
                                        {
                                            <tr>
                                                <td>@price.OrderNum</td>
                                                <td>@L(price.Name)</td>
                                                <td>@L(price.Measurment)</td>
                                                <td>@price.Price</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @foreach (var priceNext in Model.PriceNext)
                            {
                                <div class="row" *ngFor="let priceNext of webPricePeriod.priceNext">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-8 col-md-8">
                                                <h3>@priceNext.OrderNum @L(priceNext.Title)</h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <p><b>@L(priceNext.PricePrefix) @priceNext.Price</b></p>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <p>@L(priceNext.Note)</p>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                            }
                            <p><i> @L("WebSiteContentBodyfrom") @Model.DateBgn @L("WebSiteContentBodyto") @Model.DateEnd</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

