﻿@{
    ViewData["Title"] = L("TitleHome");
    ViewData["Description"] = L("DescrHome");
    ViewData["KeyWords"] = L("KeywordsHome");
}

<section id="header" class="header">
    <div class="section-table">
        <div class="section-row">
            <div class="section-cell">
                <div class="section-center">
                    <h1>@L("HomeContentTitle")</h1>
                    <p>@L("HomeContentP0")</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="developing" class="about">
    <div class="container">
        <div class="row text-center about-head">
            <div class="col-sm-12 text-center">
                <h2>@L("Program")</h2>
            </div>
        </div>
        <div class="row about text-center">
            <div class="col-sm-6 text-center">
                <div class="item px-4">
                    <div class="my-3">
                        <div class="clearfix">
                            <img src="@Url.Content("~/Images/desktop.jpg")" alt="svt" class="img-circle front" />
                        </div>
                    </div>
                    <h3>@L("HomeContentP1Header")</h3>
                    <p>@L("HomeContentP1Text")</p>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="item  px-4">
                    <div class="my-3">
                        <div class="clearfix">
                            <img src="@Url.Content("~/Images/localnet.jpg")" alt="svt" class="img-circle front" />
                        </div>
                    </div>
                    <h3>@L("HomeContentP2Header")</h3>
                    <p>@L("HomeContentP2Text")</p>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="item  px-4">
                    <div class="my-3">
                        <div class="clearfix">
                            <img src="@Url.Content("~/Images/distributed.jpg")" alt="svt" class="img-circle front" />
                        </div>
                    </div>
                    <h3>@L("HomeContentP3Header")</h3>
                    <p>@L("HomeContentP3Text")</p>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="item  px-4">
                    <div class="my-3">
                        <div class="clearfix">
                            <img src="@Url.Content("~/Images/web.jpg")" alt="svt" class="img-circle front" />
                        </div>
                    </div>
                    <h3>@L("HomeContentP4Header")</h3>
                    <p>@L("HomeContentP4Text")</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center refcont">
                <a href="@Url.Action("Cost", "Program")">
                    <div class="inref rounded-circle">
                        <i class="fas fa-comments-dollar fa-2x"></i>
                    </div>
                    <p>@L("ProgramCost")..</p>
                </a>
            </div>
            <div class="col-md-4 text-center refcont">
                <a href="@Url.Action("Timeframe", "Program" )">
                    <div class="inref rounded-circle">
                        <i class="far fa-calendar-check fa-2x"></i>
                    </div>
                    <p>@L("ProgramTimeframe")..</p>
                </a>
            </div>
            <div class="col-md-4 text-center refcont">
                <a href="@Url.Action("Quality", "Program")">
                    <div class="inref rounded-circle">
                        <i class="far fa-thumbs-up fa-2x"></i>
                    </div>
                    <p>@L("ProgramQuality")..</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center refcont">
                <a href="@Url.Action("Demands", "Program" )">
                    <div class="inref rounded-circle">
                        <i class="fas fa-sitemap fa-2x"></i>
                    </div>
                    <p>@L("ProgramDemands")..</p>
                </a>
            </div>
            <div class="col-md-4 text-center refcont">
                <a href="@Url.Action("Implementation", "Program")">
                    <div class="inref rounded-circle">
                        <i class="fas fa-hammer fa-2x"></i>
                    </div>
                    <p>@L("ProgramImplementation")..</p>
                </a>
            </div>
            <div class="col-md-4 text-center refcont">
                <a href="@Url.Action("Cost", "Website")">
                    <div class="inref rounded-circle">
                        <i class="fas fa-globe fa-2x"></i></i>
                    </div>
                    <p>@L("WebSite")..</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="answer" class="answer">
    <div class="container">
        <div class="row text-center answer-head">
            <div class="col-sm-12 text-center">
                <h2>@L("HomeContentAnswerTitle")</h2>
            </div>
        </div>
        <div class="row answer text-center">
            <div class="col-md-4 m-b">
                <div class="comment">
                    @L("HomeContentAnswerTZharovComent")
                </div>
                <div class="row  text-center clearfix m-t testimonialbotom">
                    <div class="col-sm-3">
                        <img class="logo" src="@Url.Content("~/Images/tzharovlogo.png")" alt="tzharovlogo" />
                    </div>
                    <div class="col-sm-9 signature">
                        <p><b>@L("HomeContentAnswerTZharovName")</b></p> <p>@L("HomeContentAnswerTZharovPost")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 m-b">
                <div class="comment">
                    @L("HomeContentAnswerSelmashComent")
                </div>
                <div class="row  text-center clearfix m-t testimonialbotom">
                    <div class="col-sm-3">
                        <img class="logo" src="@Url.Content("~/Images/selmashlogo.png")" alt="tzharovlogo" />
                    </div>
                    <div class="col-sm-9 signature">
                        <p><b>@L("HomeContentAnswerSelmashName")</b></p> <p>@L("HomeContentAnswerSelmashPost")</p>
                    </div>
                </div>
                <div class="row  text-center">
                    <div class="col-12 testimonialbutton mb-3">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#Selmash">@L("Recommendation")</button>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/_ModalPicture.cshtml", new PartialModalModel { Target = "Selmash", Image = "~/Images/Selmash.jpg", Title = L("Recommendation") })
            </div>
            <div class="col-md-4 m-b">
                <div class="comment">
                    @L("HomeContentAnswerDosaafComent")
                </div>
                <div class="row  text-center clearfix m-t testimonialbotom">
                    <div class="col-sm-3">
                        <img class="logo" src="@Url.Content("~/Images/dosaaflogo.png")" alt="tzharovlogo" />
                    </div>
                    <div class="col-sm-9 signature">
                        <p><b>@L("HomeContentAnswerDosaafName")</b></p> <p>@L("HomeContentAnswerDosaafPost")</p>
                    </div>
                </div>
                <div class="row  text-center">
                    <div class="col-12 testimonialbutton mb-3">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#Dosaaf">@L("Recommendation")</button>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/_ModalPicture.cshtml", new PartialModalModel { Target = "Dosaaf", Image = "~/Images/Dosaaf.jpg", Title = L("Recommendation") })
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="OrderFormContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Оформление заказа</h4>
            </div>
            <div class="modal-body clearfix">
            </div>
        </div>
    </div>
</div>
