﻿@model ContactsViewModel

@{
    ViewData["Title"] = L("TitleContacts");
    ViewData["Description"] = L("DescrContacts");
    ViewData["KeyWords"] = L("KeywordsContacts");
}

<div class="notmaincontainer">
    <div class="row">
        <div class="col-12">
            <div class="substrate">
                <div class="body p-2 p-sm-3 p-md-4 p-lg-4 p-xl-4">
                    <div class=row>
                        <div class="col-12">
                            <h2>@L("ContactsContentTitle")</h2>
                            @foreach (var comm in Model.Communications)
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <p>@comm.Name</p>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-8">
                                                <p><b>@comm.Value</b></p>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>

                            }
                            <h2>@L("ContactsContentTitle1")</h2>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP0")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.NameFull</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP1")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.NameShort</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP2")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.AddressReg</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP3")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.AddressFact</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP6")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.INN</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP7")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.KPP</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP8")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.OGRN</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP9")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.OKPO</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP10")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.OKVED</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP11")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.Director</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <h2>@L("ContactsContentTitle2")</h2>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP12")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.BankName</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP13")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.Account</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP14")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.CorrAccount</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <p>@L("ContactsContentP15")</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p><b>@Model.BainkBIK</b></p>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
