﻿<!-- Modal -->
@model PartialModalModel

<div class="modal fade" id="@Model.Target" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@Model.Title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body clearfix">
                <p>
                    <img src="@Url.Content(Model.Image)" alt="" class="testimonialimg" />
                    @*@Page.TextBody*@
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Close")</button>
            </div>
        </div>
    </div>
</div>