﻿<div class="row">
    <div class="col-12">
        @*<a href="https://webmaster.yandex.ru/siteinfo/?site=novtehprom.ru"><img width="88" height="31" alt="" border="0" src="https://yandex.ru/cycounter?novtehprom.ru&theme=light&lang=ru" /></a>*@
        <span class="ml-2">&copy; 2020 @L("CompanyName")</span>
    </div>
</div>
