﻿@using Novtehprom.Web.Mvc.Views.Shared.Components.TopBarLanguageSwitch

<nav class="navbar navbar-expand-md">
    <a class="navbar-brand waves-effect" href="/">
        <img id="logoimg" src="@Url.Content("~/Images/Logo.jpg")" alt="" title=" @L("CompanyName")" />
    </a>
    <button class="navbar-toggler ml-auto waves-effect" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars fa-1x"></i></span>
    </button>
    <div class="rightnavbutton waves-effect d-md-none">
        <a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="fas fa-ellipsis-v"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="waves-effect"><a href="@Url.Action("Index","Contacts")"><i class="far fa-handshake"></i><span> @L("Contacts")</span></a></li>
            @if (Context.Request.HttpContext.User == null || !Context.Request.HttpContext.User.Identity.IsAuthenticated)
            {
                <li class="waves-effect"><a href="@Url.Action("Login","Account", new { returnUrl = (ViewBag.RetFromLoginUrl == null) ? "" : ViewBag.RetFromLoginUrl })"><i class="fas fa-sign-in-alt"></i><span> @L("LogIn")</span></a></li>
            }
            else
            {
                <li class="waves-effect"><a href="@Url.Action("Logout","Account", new { returnUrl = (ViewBag.RetFromLoginUrl == null) ? "" : ViewBag.RetFromLoginUrl })"><i class="fas fa-sign-out-alt"></i><span> @L("Logout")</span></a></li>
            }
            @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))
        </ul>
    </div>
    <div class="rightnavbutton waves-effect d-none d-md-inline-block">
        <a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="fas fa-ellipsis-v"></i></a>
    </div>
</nav>
