﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="@L("CompanyName")">
    <meta name="description" content="@ViewData["Description"]" )">
    <meta name="keywords" content="@ViewData["KeyWords"]">
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
</head>
<body>
    @await Html.PartialAsync("_Loader.cshtml")

    <header>
        @await Html.PartialAsync("_Header.cshtml")
    </header>

    <section>
        @await Html.PartialAsync("_Rightsitebar.cshtml")
    </section>

    <content>
        @RenderBody()
    </content>

    <footer class="border-top footer">
        @await Html.PartialAsync("_Footer.cshtml")
    </footer>

    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>
