﻿<div class="loader">
    <div class="loader-spinner-conteiner">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">@L("PleaseWait")</span>
        </div>
    </div>
</div>
