﻿<aside id="rightsidebar" class="right-sidebar">
    <div class="rightsitebarcont">
        <div id="right-navigatin" class="right-navigatin">
            <ul>
                <li class="waves-effect">
                    <a href="@Url.Action("Index", "Home")">
                        <p>
                            <span><i class="fas fa-home fa-2x mr-2"></i> @L("HomePage")..</span>
                        </p>
                    </a>
                </li>
                <li class="waves-effect">
                    <a href="@Url.Action("Cost", "Program")">
                        <p>
                            <span><i class="fas fa-comments-dollar fa-2x mr-2"></i> @L("ProgramCost")..</span>
                        </p>
                    </a>
                </li>
                <li class="waves-effect">
                    <a href="@Url.Action("Timeframe", "Program")">
                        <p>
                            <span><i class="fas fa-calendar-check fa-2x mr-2"></i> @L("ProgramTimeframe")..</span>
                        </p>
                    </a>
                </li>
                <li class="waves-effect">
                    <a href="@Url.Action("Quality", "Program")">
                        <p>
                            <span><i class="fas fa-thumbs-up fa-2x mr-2"></i> @L("ProgramQuality")..</span>
                        </p>
                    </a>
                </li>
                <li class="waves-effect">
                    <a href="@Url.Action("Demands", "Program")">
                        <p>
                            <span><i class="fas fa-sitemap fa-2x mr-2"></i> @L("ProgramDemands")..</span>
                        </p>
                    </a>
                </li>
                <li class="waves-effect">
                    <a href="@Url.Action("Implementation", "Program")">
                        <p>
                            <span><i class="fas fa-hammer fa-2x mr-2"></i> @L("ProgramImplementation")..</span>
                        </p>
                    </a>
                </li>
                <li class="waves-effect">
                    <a href="@Url.Action("Cost", "Website")">
                        <p>
                            <span><i class="fas fa-globe fa-2x mr-2"></i> @L("WebSite")..</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
