﻿<link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/waves/waves.css" rel="stylesheet" />
    <link href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" rel="stylesheet" />    
    <link rel="stylesheet" href="~/sass/site.css" />
</environment>

<environment names="Staging,Production">
    <link rel="stylesheet" href="~/view-resources/Views/_Bundles/shared-layout.min.css" />
    <!-- Yandex.Metrika informer -->
    <a href="https://metrika.yandex.ru/stat/?id=17499604&amp;from=informer"
       target="_blank" rel="nofollow">
        <img src="https://informer.yandex.ru/informer/17499604/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
             style="width:88px; height:31px; border:0; display:none" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="17499604" data-lang="ru" />
    </a>
    <!-- /Yandex.Metrika informer -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
                m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(17499604, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/17499604" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</environment>
