﻿@import "_setup.scss";

.account_fone {
    z-index: 2001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $additional-color-transparent;
}
.account_main {
    display: block;
    z-index: 2002;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .account_substrate {
        background-color: $substratebackground-color;
        position: relative;
        display: block;
        width: 50%;
        min-width: 300px;
        max-width: 600px;
        z-index: 2003;
        margin: 8rem auto;
        padding: 20px;

        .body {
            z-index: 999990;

            form {
                z-index: 999990;

                .input-group {
                    width: 100%;
                    margin-bottom: 20px;
                    display: table;

                    .input-group-addon {
                        padding: 6px 12px 6px 0;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 1;
                        color: #555;
                        text-align: center;
                        border-radius: 4px;
                        width: 1%;
                        white-space: nowrap;
                        vertical-align: middle;
                        display: table-cell;
                    }

                    .form-line {
                        display: inline-block;
                        width: 100%;
                        position: relative;

                        &.error {
                            border: 1px solid $error-color;
                        }
                    }

                    label.error {
                        color: $base-color;
                        font-size: 12px;
                    }

                    input[type="text"], .form-control {
                        border: none;
                        box-shadow: none;
                    }

                    .form-control {
                        position: relative;
                        z-index: 2;
                        float: left;
                        width: 100%;
                        margin-bottom: 0;
                        height: 34px;
                        padding: 6px 12px;
                        font-size: 14px;
                        line-height: 1.42857143;
                        color: #1b4667;
                        background-color: $site-addition-color;
                        background-image: none;
                        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                    }
                }


                label {
                    max-width: 100%;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
