﻿@import "_setup.scss";

&#answer {
    .comment {
        margin: 0 0 10px;
        padding: 15px;
        background: white;
        border-radius: 10px;
        font-style: italic;
    }

    img.logo {
        height: 60px;
        width: auto;
    }

}
