﻿@import "_setup.scss";

&#developing {
    background-color: $site-addition-color;
    padding-bottom: 20px;

    a {
        color: $base-color;

        &:hover {
            .inref {
                background: $base-color-hover;
            }
        }
    }

    .refcont {
        padding-bottom: 20px;
    }

    .inref {
        display: inline-block;
        width: 60px;
        height: 60px;
        align-content: center;
        background: $base-color;
        color: $site-addition-color;
        padding-top: 9px;
        margin-right: 15px;
        border: double;

        i {
            vertical-align: central
        }
    }
}
