﻿@import "_setup.scss";

header {
    z-index: 2000;
    height: $navbar-height;
    width: 100%;
    min-width: 343px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: $navbarbackground-color;

    img {
        height: 48px;
    }

    nav {
        box-shadow: 0 1px 5px rgba(0,0,0,.3);
        height: $navbar-height;

        a {
            color: $base-color;
            text-decoration: none;

            &:hover {
                color: $base-color-hover;
                text-decoration: none;
            }
        }

        .navbar-collapse {
            font-weight: 700;
        }

        .rightnavbutton {
            text-align: center;
            margin-left: 0.5rem;
            a {
                width: 24px;
                display:block;
            }
        }

        .navbar-nav {
            .dropdown-menu {
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                border: none;
            }

            & > li {
                margin-right: 20px;

                & > .dropdown-menu {
                    margin-top: -40px !important;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;

                    li {
                        a {
                            padding: 7px 18px;
                            transition: all 0.5s;
                            font-size: 14px;
                            line-height: 25px;
                            display: block;
                            clear: both;
                            white-space: nowrap;

                            &:hover {
                                background-color: rgba(0, 0, 0, 0.075);
                            }

                            &:hover, &:focus {
                                color: $base-color;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .rightnavbutton {
            margin-top: -9px;
            margin-left: 0.5rem !important;
        }

        ul.navbar-nav {
            width: 100%;
            background: $navbarbackground-color;

            li {
                a {
                    background-color: $navbarbackground-color;
                    padding: 7px 18px;
                    transition: all 0.5s;
                    font-size: 14px;
                    line-height: 25px;
                    display: block;
                    clear: both;
                    white-space: nowrap;

                    & * {
                        z-index: 30000;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.075);
                    }

                    &:hover, &:focus {
                        text-decoration: none;
                        color: $base-color;
                    }
                }

                .dropdown-menu {
                    background-color: $site-addition-color;
                    width: auto;

                    a {
                        & * {
                            z-index: 31000;
                        }

                        background-color: $site-addition-color;
                    }
                }
            }

            li.dropdown.show > a span, li.dropdown.show > a i, li.dropdown.show > a.dropdown-toggle::after {
                visibility: hidden;
            }
        }

        ul.nav a {
            background-color: white;
        }
    }

    @media (max-width: 405px) {
        height: $navbar-small-height;

        nav {
            height: $navbar-small-height;
        }

        img {
            height: 40px;
        }

        .navbar {
            padding-left: 5px;

            .navbar-brand {
                margin-right: 0.5rem;
            }

            .navbar-toggler {
                padding: 0.25rem;
            }
        }
    }
}
