﻿@import "_setup.scss";

&#header {
    margin-top: $navbar-height;
    background: url('../Images/fone.jpg') center no-repeat;
    background-size: cover;
    height: calc(100vh - #{$navbar-height});
    /*height:100vh;*/
    min-height: 500px;


    h1 {
        color: white;
    }

    p {
        margin-top: 80px;
        margin-left: 40px;
        font-weight: 700;
        font-size: 24px;
        color: white;
        max-width: 600px;
    }

    .section-table {
        padding: 20px;
    }

    @media (max-width: 768px) {
        h1 {
            font-weight: 700;
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

}
@media (max-width: 386px) {

    &#header {
        height: calc(100vh - #{$navbar-small-height});
        margin-top: $navbar-small-height;
    }

    p {
        margin-top: 40px;
        margin-left: 0px;
    }

    .section-table {
        padding: 10px;
    }
}
