﻿@import "_setup.scss";

.loader {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $additional-color-transparent;

    .loader-spinner-conteiner {
        display: block;
        position: relative;
        top: calc(50% - 36px);
        width:100%;
        align-content: center;
        padding-left: calc(50% - 36px);
    }
}
