﻿@import "_setup.scss";

.right-sidebar {
    width: 280px;
    height: calc(100vh - #{$navbar-height});
    position: fixed;
    right: -300px;
    top: $navbar-height;
    background: #fdfdfd;
    z-index: 11 !important;
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    &.open {
        right: 0;
    }

    .rightsitebarcont {
        padding-top: 21px;
    }

    .right-navigatin {
        ul {
            padding: 10px;
        }

        li {
            list-style: none;
            width: 100%;

            a {
                padding: 10px 10px 10px 10px;
                text-decoration: none;
                color: $base-color;
                display: block;
                border-bottom: 1px solid $sitebackground-color;

                &:hover {
                    color: $base-color-hover;
                    background: $sitebackground-color;
                }
            }
        }
    }


    .fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;
    }

    .fade.in {
        opacity: 1;
    }

    .collapse {
        display: none;
    }

    .nav-tabs {
        font-weight: 600;
        font-size: 13px;
        width: 100%;
        margin-left: 2px;
        border-bottom: 2px solid #eee;
    }

    .demo-choose-skin {
        list-style: none;
        padding-left: 0;
        overflow-y: hidden;

        li {
            border-bottom: 1px solid #eee;
            padding: 10px 10px 4px 10px;
            position: relative;
            cursor: pointer;
        }
    }
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (max-width: 386px){
    .right-sidebar {
        height: calc(100vh - #{$navbar-small-height});
        position: fixed;
        right: -300px;
        top: $navbar-small-height;
    }
}
