﻿/* The main color is basically the color of the text on a light background. */
$base-color: #1b4667;
$base-color-hover: #007bff;
/* Background color for website */
$sitebackground-color: #d2eff8;
$site-addition-color: #fff;
$site-addition-color-transparent: rgba(255, 255, 255, 0.8);
$navbarbackground-color: #c0dbe4;
$substratebackground-color: rgba(165, 231, 251, 0.7);

$additional-color-transparent: rgba(27, 70, 103, 0.7);

$error-color: rgb(224, 15, 47);

$main-font-size: 14px;
$main-font: Roboto, sans-serif;
$navbar-height: 64px;
$navbar-small-height: 56px;
