﻿@import "_setup.scss";

.notmaincontainer {
    padding: 21px 20px 21px 20px;
    margin-top: $navbar-height;

    @media (max-width: 405px) {
        margin-top: $navbar-small-height;
        padding: 21px 5px 21px 5px;
    }
}

.substrate {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    position: relative;
    background: $substratebackground-color;

    table.table {
        width: 100%;
        margin-bottom: 1rem;
        border-collapse: collapse;
        font-size: 14px;

        th {
            color: $site-addition-color-transparent;
            background-color: $base-color;
        }

        td, th {
            max-width: 600px;
            white-space: normal !important;
            padding: 10px;
            border: 1px solid $substratebackground-color;
        }

        &.graph {
            th, td {
                border: 1px solid $site-addition-color-transparent;
            }

            td.graph {
                padding: 0;
                vertical-align: bottom;
                min-width: 400px;

                img {
                    height: 40px;
                    width: 100%;
                    vertical-align: bottom;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }


    .contentin {
        background-color: #ddfafb;
        padding: 15px;
        margin: 20px 0;
        border-radius: 3px;
        font-size: 16px;

        h3 {
            font-size: 20px;
        }

        table {
            min-width: 380px;
            font-size: 14px;

            th {
                background-color: $site-addition-color-transparent;
                color:$base-color;
            }

            td, th {
                max-width: 600px;
                white-space: normal !important;
                padding: 10px;
                border: 1px solid $substratebackground-color;
            }
        }
    }
}
