﻿@import "_setup.scss";
html {
    height: 100%;
}

body {
    height: 100%;
    background: $sitebackground-color;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    color: $base-color;
    min-width: 280px;

    h1 {
        color: white;
        font-weight: 700;
        margin-top: 20px;
        font-size: 36px;
    }

    h2 {
        /*text-transform:uppercase;*/
        font-weight: 700;
        margin-top: 20px;
        font-size: 30px;

        span {
            font-size: 20px;
        }
    }

    h3 {
        /*text-transform:uppercase;*/
        font-weight: 500;
        margin-top: 20px;
        font-size: 24px;
    }

    @import "_checkbox.scss";

    @import "_pageloader.scss";

    @import "_rightsitebar.scss";

    @import "_header.scss";

    @import "_account.scss";

    .famfamfam-flags {
        display: inline-block;
    }

    content {
        z-index: 1000;
    }

    .modal {
        z-index: 3000;
    }

    .btn-primary {
        color: $site-addition-color;
        background-color: $base-color;
        border-color: $base-color;
    }

    section {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        .imageinheader {
            display: inline-block;
            float: none;
        }

        @import "_headersection.scss";
        @import "_developingsection.scss";
        @import "_answersection.scss";
    }

    @import "_substrate.scss";
    @import "_footer.scss";
}
