﻿/* The main color is basically the color of the text on a light background. */
/* Background color for website */
html {
  height: 100%; }

body {
  height: 100%;
  background: #d2eff8;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1b4667;
  min-width: 280px;
  /* Checkboxes
   ========================================================================== */
  /* CUSTOM CSS CHECKBOXES */
  /* Remove default checkbox */
  /* Indeterminate checkbox */
  /* The main color is basically the color of the text on a light background. */
  /* Background color for website */
  /* The main color is basically the color of the text on a light background. */
  /* Background color for website */
  /* The main color is basically the color of the text on a light background. */
  /* Background color for website */
  /* The main color is basically the color of the text on a light background. */
  /* Background color for website */
  /* The main color is basically the color of the text on a light background. */
  /* Background color for website */
  /* The main color is basically the color of the text on a light background. */
  /* Background color for website */ }
  body h1 {
    color: white;
    font-weight: 700;
    margin-top: 20px;
    font-size: 36px; }
  body h2 {
    /*text-transform:uppercase;*/
    font-weight: 700;
    margin-top: 20px;
    font-size: 30px; }
    body h2 span {
      font-size: 20px; }
  body h3 {
    /*text-transform:uppercase;*/
    font-weight: 500;
    margin-top: 20px;
    font-size: 24px; }
  body form p {
    margin-bottom: 10px;
    text-align: left; }
  body form p:last-child {
    margin-bottom: 0; }
  body [type="checkbox"]:not(:checked),
  body [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0; }
  body [type="checkbox"] {
    /* checkbox aspect */ }
  body [type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */ }
  body [type="checkbox"] + label:before,
  body [type="checkbox"]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s; }
  body [type="checkbox"]:not(.filled-in) + label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  body [type="checkbox"]:not(:checked):disabled + label:before {
    border: none;
    background-color: rgba(0, 0, 0, 0.26); }
  body [type="checkbox"].tabbed:focus + label:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1); }
  body [type="checkbox"]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  body [type="checkbox"]:checked:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26); }
  body [type="checkbox"]:indeterminate + label:before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid #26a69a;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  body [type="checkbox"]:indeterminate:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    background-color: transparent; }
  body [type="checkbox"].filled-in + label:after {
    border-radius: 2px; }
  body [type="checkbox"].filled-in + label:before,
  body [type="checkbox"].filled-in + label:after {
    content: '';
    left: 0;
    position: absolute;
    /* .1s delay is for check animation */
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1; }
  body [type="checkbox"].filled-in:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%; }
  body [type="checkbox"].filled-in:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0; }
  body [type="checkbox"].filled-in:checked + label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  body [type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0; }
  body [type="checkbox"].filled-in.tabbed:focus + label:after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba(0, 0, 0, 0.1); }
  body [type="checkbox"].filled-in.tabbed:checked:focus + label:after {
    border-radius: 2px;
    background-color: #26a69a;
    border-color: #26a69a; }
  body [type="checkbox"].filled-in:disabled:not(:checked) + label:before {
    background-color: transparent;
    border: 2px solid transparent; }
  body [type="checkbox"].filled-in:disabled:not(:checked) + label:after {
    border-color: transparent;
    background-color: #BDBDBD; }
  body [type="checkbox"].filled-in:disabled:checked + label:before {
    background-color: transparent; }
  body [type="checkbox"].filled-in:disabled:checked + label:after {
    background-color: #BDBDBD;
    border-color: #BDBDBD; }
  body .loader {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(27, 70, 103, 0.7); }
    body .loader .loader-spinner-conteiner {
      display: block;
      position: relative;
      top: calc(50% - 36px);
      width: 100%;
      align-content: center;
      padding-left: calc(50% - 36px); }
  body .right-sidebar {
    width: 280px;
    height: calc(100vh - 64px);
    position: fixed;
    right: -300px;
    top: 64px;
    background: #fdfdfd;
    z-index: 11 !important;
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    body .right-sidebar.open {
      right: 0; }
    body .right-sidebar .rightsitebarcont {
      padding-top: 21px; }
    body .right-sidebar .right-navigatin ul {
      padding: 10px; }
    body .right-sidebar .right-navigatin li {
      list-style: none;
      width: 100%; }
      body .right-sidebar .right-navigatin li a {
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        color: #1b4667;
        display: block;
        border-bottom: 1px solid #d2eff8; }
        body .right-sidebar .right-navigatin li a:hover {
          color: #007bff;
          background: #d2eff8; }
    body .right-sidebar .fade {
      opacity: 0;
      -webkit-transition: opacity .15s linear;
      -o-transition: opacity .15s linear;
      transition: opacity .15s linear; }
    body .right-sidebar .fade.in {
      opacity: 1; }
    body .right-sidebar .collapse {
      display: none; }
    body .right-sidebar .nav-tabs {
      font-weight: 600;
      font-size: 13px;
      width: 100%;
      margin-left: 2px;
      border-bottom: 2px solid #eee; }
    body .right-sidebar .demo-choose-skin {
      list-style: none;
      padding-left: 0;
      overflow-y: hidden; }
      body .right-sidebar .demo-choose-skin li {
        border-bottom: 1px solid #eee;
        padding: 10px 10px 4px 10px;
        position: relative;
        cursor: pointer; }
  body .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  @media (max-width: 386px) {
    body .right-sidebar {
      height: calc(100vh - 56px);
      position: fixed;
      right: -300px;
      top: 56px; } }
  body header {
    z-index: 2000;
    height: 64px;
    width: 100%;
    min-width: 343px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #c0dbe4; }
    body header img {
      height: 48px; }
    body header nav {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      height: 64px; }
      body header nav a {
        color: #1b4667;
        text-decoration: none; }
        body header nav a:hover {
          color: #007bff;
          text-decoration: none; }
      body header nav .navbar-collapse {
        font-weight: 700; }
      body header nav .rightnavbutton {
        text-align: center;
        margin-left: 0.5rem; }
        body header nav .rightnavbutton a {
          width: 24px;
          display: block; }
      body header nav .navbar-nav .dropdown-menu {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border: none; }
      body header nav .navbar-nav > li {
        margin-right: 20px; }
        body header nav .navbar-nav > li > .dropdown-menu {
          margin-top: -40px !important;
          border-top-left-radius: 0;
          border-top-right-radius: 0; }
          body header nav .navbar-nav > li > .dropdown-menu li a {
            padding: 7px 18px;
            transition: all 0.5s;
            font-size: 14px;
            line-height: 25px;
            display: block;
            clear: both;
            white-space: nowrap; }
            body header nav .navbar-nav > li > .dropdown-menu li a:hover {
              background-color: rgba(0, 0, 0, 0.075); }
            body header nav .navbar-nav > li > .dropdown-menu li a:hover, body header nav .navbar-nav > li > .dropdown-menu li a:focus {
              color: #1b4667; }
    @media (max-width: 768px) {
      body header .rightnavbutton {
        margin-top: -9px;
        margin-left: 0.5rem !important; }
      body header ul.navbar-nav {
        width: 100%;
        background: #c0dbe4; }
        body header ul.navbar-nav li a {
          background-color: #c0dbe4;
          padding: 7px 18px;
          transition: all 0.5s;
          font-size: 14px;
          line-height: 25px;
          display: block;
          clear: both;
          white-space: nowrap; }
          body header ul.navbar-nav li a * {
            z-index: 30000; }
          body header ul.navbar-nav li a:hover {
            background-color: rgba(0, 0, 0, 0.075); }
          body header ul.navbar-nav li a:hover, body header ul.navbar-nav li a:focus {
            text-decoration: none;
            color: #1b4667; }
        body header ul.navbar-nav li .dropdown-menu {
          background-color: #fff;
          width: auto; }
          body header ul.navbar-nav li .dropdown-menu a {
            background-color: #fff; }
            body header ul.navbar-nav li .dropdown-menu a * {
              z-index: 31000; }
        body header ul.navbar-nav li.dropdown.show > a span, body header ul.navbar-nav li.dropdown.show > a i, body header ul.navbar-nav li.dropdown.show > a.dropdown-toggle::after {
          visibility: hidden; }
      body header ul.nav a {
        background-color: white; } }
    @media (max-width: 405px) {
      body header {
        height: 56px; }
        body header nav {
          height: 56px; }
        body header img {
          height: 40px; }
        body header .navbar {
          padding-left: 5px; }
          body header .navbar .navbar-brand {
            margin-right: 0.5rem; }
          body header .navbar .navbar-toggler {
            padding: 0.25rem; } }
  body .account_fone {
    z-index: 2001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(27, 70, 103, 0.7); }
  body .account_main {
    display: block;
    z-index: 2002;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    body .account_main .account_substrate {
      background-color: rgba(165, 231, 251, 0.7);
      position: relative;
      display: block;
      width: 50%;
      min-width: 300px;
      max-width: 600px;
      z-index: 2003;
      margin: 8rem auto;
      padding: 20px; }
      body .account_main .account_substrate .body {
        z-index: 999990; }
        body .account_main .account_substrate .body form {
          z-index: 999990; }
          body .account_main .account_substrate .body form .input-group {
            width: 100%;
            margin-bottom: 20px;
            display: table; }
            body .account_main .account_substrate .body form .input-group .input-group-addon {
              padding: 6px 12px 6px 0;
              font-size: 14px;
              font-weight: normal;
              line-height: 1;
              color: #555;
              text-align: center;
              border-radius: 4px;
              width: 1%;
              white-space: nowrap;
              vertical-align: middle;
              display: table-cell; }
            body .account_main .account_substrate .body form .input-group .form-line {
              display: inline-block;
              width: 100%;
              position: relative; }
              body .account_main .account_substrate .body form .input-group .form-line.error {
                border: 1px solid #e00f2f; }
            body .account_main .account_substrate .body form .input-group label.error {
              color: #1b4667;
              font-size: 12px; }
            body .account_main .account_substrate .body form .input-group input[type="text"], body .account_main .account_substrate .body form .input-group .form-control {
              border: none;
              box-shadow: none; }
            body .account_main .account_substrate .body form .input-group .form-control {
              position: relative;
              z-index: 2;
              float: left;
              width: 100%;
              margin-bottom: 0;
              height: 34px;
              padding: 6px 12px;
              font-size: 14px;
              line-height: 1.42857143;
              color: #1b4667;
              background-color: #fff;
              background-image: none;
              transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
          body .account_main .account_substrate .body form label {
            max-width: 100%;
            margin-bottom: 5px; }
  body .famfamfam-flags {
    display: inline-block; }
  body content {
    z-index: 1000; }
  body .modal {
    z-index: 3000; }
  body .btn-primary {
    color: #fff;
    background-color: #1b4667;
    border-color: #1b4667; }
  body section {
    position: relative;
    /* The main color is basically the color of the text on a light background. */
    /* Background color for website */
    /* The main color is basically the color of the text on a light background. */
    /* Background color for website */
    /* The main color is basically the color of the text on a light background. */
    /* Background color for website */ }
    body section img {
      width: 100%;
      height: auto; }
    body section .imageinheader {
      display: inline-block;
      float: none; }
    body section#header {
      margin-top: 64px;
      background: url("../Images/fone.jpg") center no-repeat;
      background-size: cover;
      height: calc(100vh - 64px);
      /*height:100vh;*/
      min-height: 500px; }
      body section#header h1 {
        color: white; }
      body section#header p {
        margin-top: 80px;
        margin-left: 40px;
        font-weight: 700;
        font-size: 24px;
        color: white;
        max-width: 600px; }
      body section#header .section-table {
        padding: 20px; }
      @media (max-width: 768px) {
        body section#header h1 {
          font-weight: 700;
          font-size: 30px; }
        body section#header p {
          font-size: 18px; } }
    @media (max-width: 386px) {
      body section#header {
        height: calc(100vh - 56px);
        margin-top: 56px; }
      body section p {
        margin-top: 40px;
        margin-left: 0px; }
      body section .section-table {
        padding: 10px; } }
    body section#developing {
      background-color: #fff;
      padding-bottom: 20px; }
      body section#developing a {
        color: #1b4667; }
        body section#developing a:hover .inref {
          background: #007bff; }
      body section#developing .refcont {
        padding-bottom: 20px; }
      body section#developing .inref {
        display: inline-block;
        width: 60px;
        height: 60px;
        align-content: center;
        background: #1b4667;
        color: #fff;
        padding-top: 9px;
        margin-right: 15px;
        border: double; }
        body section#developing .inref i {
          vertical-align: central; }
    body section#answer .comment {
      margin: 0 0 10px;
      padding: 15px;
      background: white;
      border-radius: 10px;
      font-style: italic; }
    body section#answer img.logo {
      height: 60px;
      width: auto; }
  body .notmaincontainer {
    padding: 21px 20px 21px 20px;
    margin-top: 64px; }
    @media (max-width: 405px) {
      body .notmaincontainer {
        margin-top: 56px;
        padding: 21px 5px 21px 5px; } }
  body .substrate {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    background: rgba(165, 231, 251, 0.7); }
    body .substrate table.table {
      width: 100%;
      margin-bottom: 1rem;
      border-collapse: collapse;
      font-size: 14px; }
      body .substrate table.table th {
        color: rgba(255, 255, 255, 0.8);
        background-color: #1b4667; }
      body .substrate table.table td, body .substrate table.table th {
        max-width: 600px;
        white-space: normal !important;
        padding: 10px;
        border: 1px solid rgba(165, 231, 251, 0.7); }
      body .substrate table.table.graph th, body .substrate table.table.graph td {
        border: 1px solid rgba(255, 255, 255, 0.8); }
      body .substrate table.table.graph td.graph {
        padding: 0;
        vertical-align: bottom;
        min-width: 400px; }
        body .substrate table.table.graph td.graph img {
          height: 40px;
          width: 100%;
          vertical-align: bottom;
          padding: 0;
          margin: 0; }
    body .substrate .contentin {
      background-color: #ddfafb;
      padding: 15px;
      margin: 20px 0;
      border-radius: 3px;
      font-size: 16px; }
      body .substrate .contentin h3 {
        font-size: 20px; }
      body .substrate .contentin table {
        min-width: 380px;
        font-size: 14px; }
        body .substrate .contentin table th {
          background-color: rgba(255, 255, 255, 0.8);
          color: #1b4667; }
        body .substrate .contentin table td, body .substrate .contentin table th {
          max-width: 600px;
          white-space: normal !important;
          padding: 10px;
          border: 1px solid rgba(165, 231, 251, 0.7); }
  body footer {
    color: rgba(255, 255, 255, 0.8);
    background-color: #1b4667;
    padding: 20px;
    font-size: small; }
