﻿@{
    ViewData["Title"] = L("TitleProgramCost");
    ViewData["Description"] = L("DescrProgramCost");
    ViewData["KeyWords"] = L("KeywordsProgramCost");
}

<div class="notmaincontainer">
    <div class="row">
        <div class="col-12">
            <div class="substrate">
                <div class="body p-2 p-sm-3 p-md-4 p-lg-4 p-xl-4">
                    <div class=row>
                        <div class="col-12">
                            <h2>@L("ProgramCostContentTitle")<p><span>(@L("ProgramCostContentTitle1"))</span></p></h2>
                            <p>@L("ProgramCostContentP0")</p>
                            <p>@L("ProgramCostContentP1")</p>
                            <p>@L("ProgramCostContentP2")</p>
                            <p>@L("ProgramCostContentP3")</p>
                            <p>@L("ProgramCostContentP4")</p>
                            <p>@L("ProgramCostContentP5")</p>
                            <div class="contentin">
                                <h3>@L("ProgramCostContentInTitle")</h3>
                                <p>@L("ProgramCostContentInP0")</p>
                                <ul>
                                    <li>@L("ProgramCostContentInP0list0")</li>
                                    <li>@L("ProgramCostContentInP0list1")</li>
                                    <li>@L("ProgramCostContentInP0list2")</li>
                                    <li>@L("ProgramCostContentInP0list3")</li>
                                    <li>@L("ProgramCostContentInP0list4")</li>
                                </ul>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            <tr class="active">
                                                <th>@L("ProgramCostTableInHeaderCol0")</th>
                                                <th>@L("ProgramCostTableInHeaderCol1")</th>
                                                <th>@L("ProgramCostTableInHeaderCol2")</th>
                                                <th>@L("ProgramCostTableInHeaderCol3")</th>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramCostTableInRow0Col0")</td>
                                                <td>@L("ProgramCostTableInRow0Col1")</td>
                                                <td>@L("ProgramCostTableInRow0Col2")</td>
                                                <td>@L("ProgramCostTableInRow0Col3")</td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramCostTableInRow1Col0")</td>
                                                <td>@L("ProgramCostTableInRow1Col1")</td>
                                                <td>@L("ProgramCostTableInRow1Col2")</td>
                                                <td>@L("ProgramCostTableInRow1Col3")</td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramCostTableInRow2Col0")</td>
                                                <td>@L("ProgramCostTableInRow2Col1")</td>
                                                <td>@L("ProgramCostTableInRow2Col2")</td>
                                                <td>@L("ProgramCostTableInRow2Col3")</td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramCostTableInRow3Col0")</td>
                                                <td>@L("ProgramCostTableInRow3Col1")</td>
                                                <td>@L("ProgramCostTableInRow3Col2")</td>
                                                <td>@L("ProgramCostTableInRow3Col3")</td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramCostTableInRow4Col0")</td>
                                                <td>@L("ProgramCostTableInRow4Col1")</td>
                                                <td>@L("ProgramCostTableInRow4Col2")</td>
                                                <td>@L("ProgramCostTableInRow4Col3")</td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramCostTableInRow5Col0")</td>
                                                <td>@L("ProgramCostTableInRow5Col1")</td>
                                                <td>@L("ProgramCostTableInRow5Col2")</td>
                                                <td>@L("ProgramCostTableInRow5Col3")</td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramCostTableInRow6Col0")</td>
                                                <td>@L("ProgramCostTableInRow6Col1")</td>
                                                <td>@L("ProgramCostTableInRow6Col2")</td>
                                                <td>@L("ProgramCostTableInRow6Col3")</td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramCostTableInRow7Col0")</td>
                                                <td>@L("ProgramCostTableInRow7Col1")</td>
                                                <td>@L("ProgramCostTableInRow7Col2")</td>
                                                <td>@L("ProgramCostTableInRow7Col3")</td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramCostTableInRow8Col0")</td>
                                                <td>@L("ProgramCostTableInRow8Col1")</td>
                                                <td>@L("ProgramCostTableInRow8Col2")</td>
                                                <td>@L("ProgramCostTableInRow8Col3")</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">@L("ProgramCostTableInRow9Col01")</td>
                                                <td>@L("ProgramCostTableInRow9Col2")</td>
                                                <td>@L("ProgramCostTableInRow9Col3")</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>@L("ProgramCostContentP6")</p>
                            <ul>
                                <li>@L("ProgramCostContentP6list0")</li>
                                <li>@L("ProgramCostContentP6list1")</li>
                                <li>@L("ProgramCostContentP6list2")</li>
                                <li>@L("ProgramCostContentP6list3")</li>
                                <li>@L("ProgramCostContentP6list4")</li>
                            </ul>
                            <p>@L("ProgramCostContentP7")</p>
                            <p>@L("ProgramCostContentP8")</p>
                            <p>@L("ProgramCostContentP9")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

