﻿@{
    ViewData["Title"] = L("TitleProgramDemands");
    ViewData["Description"] = L("DescrProgramDemands");
    ViewData["KeyWords"] = L("KeywordsProgramDemands");
}

    <div class="notmaincontainer">
        <div class="row">
            <div class="col-12">
                <div class="substrate">
                    <div class="body p-2 p-sm-3 p-md-4 p-lg-4 p-xl-4">
                        <div class="row">
                            <div class="col-12">
                                <h2>@L("ProgramDemandsTitle")</h2>
                                <p>@L("ProgramDemandsP0")</p>
                                <ul>
                                    <li>@L("ProgramDemandsP0list0")</li>
                                    <li>@L("ProgramDemandsP0list1")</li>
                                </ul>
                                <p>@L("ProgramDemandsP1")</p>
                                <p>@L("ProgramDemandsP2")</p>
                                <p>@L("ProgramDemandsP3")</p>
                                <p>@L("ProgramDemandsP4")</p>
                                <p>@L("ProgramDemandsP5")</p>
                                <p>@L("ProgramDemandsP6")</p>
                                <ul>
                                    <li>@L("ProgramDemandsP6list0")</li>
                                    <li>
                                        @L("ProgramDemandsP6list1")
                                        <ul>
                                            <li>@L("ProgramDemandsP6list1list0")</li>
                                            <li>@L("ProgramDemandsP6list1list1")</li>
                                            <li>@L("ProgramDemandsP6list1list2")</li>
                                            <li>@L("ProgramDemandsP6list1list3")</li>
                                        </ul>
                                    </li>
                                    <li>@L("ProgramDemandsP6list2")</li>
                                    <li>@L("ProgramDemandsP6list3")</li>
                                </ul>
                                <p>@L("ProgramDemandsP7")</p>
                                <ul>
                                    <li>@L("ProgramDemandsP7list0")</li>
                                    <li>@L("ProgramDemandsP7list1")</li>
                                    <li>@L("ProgramDemandsP7list2")</li>
                                    <li>@L("ProgramDemandsP7list3")</li>
                                    <li>
                                        @L("ProgramDemandsP7list4")
                                        <ul>
                                            <li>@L("ProgramDemandsP7list4p0")</li>
                                            <li>@L("ProgramDemandsP7list4p1")</li>
                                            <li>@L("ProgramDemandsP7list4p0")</li>
                                            <li>@L("ProgramDemandsP7list4p1")</li>
                                            <li>..</li>
                                            <li>@L("ProgramDemandsP7list4p2")</li>
                                        </ul>
                                    </li>
                                    <li>@L("ProgramDemandsP7list5")</li>
                                    <li>@L("ProgramDemandsP7list6")</li>
                                </ul>
                                <p>@L("ProgramDemandsP8")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
