﻿@{
    ViewData["Title"] = L("TitleProgramImplementation");
    ViewData["Description"] = L("DescrProgramImplementation");
    ViewData["KeyWords"] = L("KeywordsProgramImplementation");
}

    <div class="notmaincontainer">
        <div class="row">
            <div class="col-12">
                <div class="substrate">
                    <div class="body p-2 p-sm-3 p-md-4 p-lg-4 p-xl-4">
                        <div class="row">
                            <div class="col-12">
                                <h2>@L("ProgramImplementationTitle")</h2>
                                <p>@L("ProgramImplementationP0")</p>
                                <p>@L("ProgramImplementationP1")</p>
                                <p>@L("ProgramImplementationP2")</p>
                                <div class="contentin note">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 attention text-center">
                                            <i class="fas fa-info-circle fa-2x"></i>
                                        </div>
                                        <div class="col-xs-12 col-sm-10">
                                            <p>@L("ProgramImplementationNote0")</p>
                                        </div>
                                    </div>
                                </div>
                                <p>@L("ProgramImplementationP3")</p>
                                <ul>
                                    <li>@L("ProgramImplementationP3list0")</li>
                                    <li>@L("ProgramImplementationP3list1")</li>
                                    <li>@L("ProgramImplementationP3list2")</li>
                                    <li>@L("ProgramImplementationP3list3")</li>
                                </ul>
                                <p>@L("ProgramImplementationP4")</p>
                                <p>@L("ProgramImplementationP5")</p>
                                <p>@L("ProgramImplementationP6")</p>
                                <h3>@L("ProgramImplementationTitle1")</h3>
                                <p>@L("ProgramImplementationP7")</p>
                                <ul>
                                    <li>@L("ProgramImplementationP7list0")</li>
                                    <li>@L("ProgramImplementationP7list1")</li>
                                    <li>@L("ProgramImplementationP7list2")</li>
                                    <li>@L("ProgramImplementationP7list3")</li>
                                    <li>@L("ProgramImplementationP7list4")</li>
                                </ul>
                                <p>@L("ProgramImplementationP8")</p>
                                <p>@L("ProgramImplementationP9")</p>
                                <ul>
                                    <li>@L("ProgramImplementationP9list0")</li>
                                    <li>@L("ProgramImplementationP9list1")</li>
                                    <li>@L("ProgramImplementationP9list2")</li>
                                    <li>@L("ProgramImplementationP9list3")</li>
                                    <li>@L("ProgramImplementationP9list4")</li>
                                </ul>
                                <p>@L("ProgramImplementationP10")</p>
                                <ul>
                                    <li>@L("ProgramImplementationP10list0")</li>
                                    <li>@L("ProgramImplementationP10list1")</li>
                                </ul>
                                <h3>@L("ProgramImplementationTitle2")</h3>
                                <p>@L("ProgramImplementationP11")</p>
                                <p>@L("ProgramImplementationP12")</p>
                                <p>@L("ProgramImplementationP14")</p>
                                <ul>
                                    <li>@L("ProgramImplementationP14list0")</li>
                                    <li>@L("ProgramImplementationP14list1")</li>
                                    <li>@L("ProgramImplementationP14list2")</li>
                                    <li>@L("ProgramImplementationP14list3")</li>
                                    <li>@L("ProgramImplementationP14list4")</li>
                                </ul>
                                <h3>@L("ProgramImplementationTitle3")</h3>
                                <p>@L("ProgramImplementationP15")</p>
                                <p>@L("ProgramImplementationP16")</p>
                                <h3>@L("ProgramImplementationTitle4")</h3>
                                <p>@L("ProgramImplementationP17")</p>
                                <p>@L("ProgramImplementationP18")</p>
                                <h3>@L("ProgramImplementationTitle5")</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover graph">
                                        <tbody class="up">
                                            <tr class="active">
                                                <th></th>
                                                <th>@L("ProgramImplementationP3list0")</th>
                                                <th>@L("ProgramImplementationP3list1")</th>
                                                <th>@L("ProgramImplementationP3list2")</th>
                                                <th>@L("ProgramImplementationP3list3")</th>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramImplementationTableRow0")</td>
                                                <td colspan="4" class="graph">
                                                    <img src="@Url.Content("~/images/business.png")" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramImplementationTableRow1")</td>
                                                <td colspan="4" class="graph">
                                                    <img src="@Url.Content("~/images/requirements.png")" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramImplementationTableRow2")</td>
                                                <td colspan="4" class="graph">
                                                    <img src="@Url.Content("~/images/design.png")" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>@L("ProgramImplementationTableRow3")</td>
                                                <td colspan="4" class="graph">
                                                    <img src="@Url.Content("~/images/release.png")" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="contentin note">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 attention text-center">
                                            <i class="fas fa-info-circle fa-2x"></i>
                                        </div>
                                        <div class="col-xs-12 col-sm-10">
                                            <p>@L("ProgramImplementationNote1")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


