﻿@{
    ViewData["Title"] = L("TitleProgramQuality");
    ViewData["Description"] = L("DescrProgramQuality");
    ViewData["KeyWords"] = L("KeywordsProgramQuality");
}

    <div class="notmaincontainer">
        <div class="row">
            <div class="col-12">
                <div class="substrate">
                    <div class="body p-2 p-sm-3 p-md-4 p-lg-4 p-xl-4">
                        <div class="row">
                            <div class="col-12">
                                <h2>@L("ProgramQualityContentTitle")</h2>
                                <p>@L("ProgramQualityContentP0")</p>
                                <p>@L("ProgramQualityContentP1")</p>
                                <p>@L("ProgramQualityContentP2")</p>
                                <p>@L("ProgramQualityContentP3")</p>
                                <p>@L("ProgramQualityContentP4")</p>
                                <p>@L("ProgramQualityContentP5")</p>
                                <p>@L("ProgramQualityContentP6")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

