﻿@{
    ViewData["Title"] = L("TitleProgramTimeframe");
    ViewData["Description"] = L("DescrProgramTimeframe");
    ViewData["KeyWords"] = L("KeywordsProgramTimeframe");
}

    <div class="notmaincontainer">
        <div class="row">
            <div class="col-12">
                <div class="substrate">
                    <div class="body p-2 p-sm-3 p-md-4 p-lg-4 p-xl-4">
                        <div class="row">
                            <div class="col-12">
                                <h2>@L("ProgramTimeframeContentTitle")</h2>
                                <p>@L("ProgramTimeframeContentP0")</p>
                                <p>@L("ProgramTimeframeContentP1")</p>
                                <p>@L("ProgramTimeframeContentP2")</p>
                                <p>@L("ProgramTimeframeContentP3")</p>
                                <p>@L("ProgramTimeframeContentP4")</p>
                                <p>@L("ProgramTimeframeContentP5")</p>
                                <p>@L("ProgramTimeframeContentP6")</p>
                                <p>@L("ProgramTimeframeContentP7")</p>
                                <p>@L("ProgramTimeframeContentP8")</p>
                                <p>@L("ProgramTimeframeContentP9")</p>
                                <p>@L("ProgramTimeframeContentP10")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


