﻿@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@model Novtehprom.Web.Mvc.Models.Account.LoginFormViewModel
<div class="account_main ">
    <div class="account_substrate" id="﻿LoginArea">
        <div class="body">
            <form id="LoginForm" asp-action="Login" method="post">
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                <input type="hidden" name="returnUrlHash" />
                <h4 class="text-center">@L("LogIn")</h4>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fas fa-user fa-1x"></i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" required data-msg-required="@L("Required")" name="UsernameOrEmailAddress" placeholder="@L("UserNameOrEmail")" autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fas fa-lock fa-1x"></i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" required data-msg-required="@L("Required")" name="Password" placeholder="@L("Password")" maxlength="@AbpUserBase.MaxPlainPasswordLength">
                    </div>
                </div>
                <div class="input-group">
                    <input type="checkbox" name="RememberMe" id="rememberme" class="filled-in chk-col-pink" value="true">
                    <label for="rememberme">@L("RememberMe")</label>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button id="LoginButton" class="btn btn-primary waves-effect" type="submit">@L("LogIn")</button>
                    </div>
                    <div class="col-6 text-center">
                        <button id="CancelButton" class="btn btn-primary waves-effect" type="button">@L("Cancel")</button>
                    </div>
                </div>
                @if (Model.IsSelfRegistrationAllowed)
                {
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-12">
                            <a asp-action="Register">@L("Register")</a>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
<div class="account_fone"></div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>
    </environment>
}

